<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="applicationContextHolder"	class="org.httpRemoteDesktop.ApplicationContextHolder" />
	<bean id="robotService" class="org.httpRemoteDesktop.RobotService"/>
	<bean id="desktopController" class="org.httpRemoteDesktop.DesktopController">
		<property name="robotService" ref="robotService" />
	</bean>
</beans>